﻿@{
    ViewData["Title"] = "Appointments";
}

<h1>Manage your appointments</h1>
<div class="leftMenu">
    <hr />
    <div class="row">

        <div class="col-md-3">
            <ul class="nav nav-pills flex-column" id="left-menu">
                <li><a class="nav-link active" href="#list-appointments" data-toggle="tab">See Appointments</a></li>
                <li><a class="nav-link" href="#make-appointment" data-toggle="tab">Make Appointment</a></li>
                <li><a class="nav-link" href="#generate-reports" data-toggle="tab">Generate Reports</a></li>
            </ul>
        </div>


        <div class="col-md-9">
            <div class="tab-content" id="my-content">
                <div class="tab-pane fade" id="make-appointment" role="tabpanel">
                    <partial name="NewAppointment" />
                </div>

                <div class="tab-pane fade show active" id="list-appointments" role="tabpanel">
                     <partial name="ListAppointments" />
                </div>

                <div class="tab-pane fade" id="generate-reports" role="tabpanel">
                    <partial name="GenerateReports" />
                </div>
            </div>
        </div>
    </div>
</div>
