﻿
@model BigAppointmentModel

<form method="GET" asp-action="RefreshAppointments">
    <div class="row">
        <div class="form-group col-10">
            <div class="form-group">
                <input type="date" asp-for="startDate" class="form-control"  style="width: 100%"/>
            </div>
        </div>

        <div class="form-group col-2">
            <div class="form-group">
                <input id="refresh-button" type="submit" value="Refresh" class="btn btn-primary" style="width: 100%" />
            </div>
        </div>
    </div>
 </form>

<table class="table">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Date of Appointment</th>
            <th>Model</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>

    @foreach (var appointment in Model.appointmentsPerDay)
    {
<tr>
    <td>@appointment.ClientName</td>
    <td>@appointment.DateOfAppointment  </td>
    <td>@appointment.CarModel  </td>
    <td>@appointment.ProblemDescription  </td>
    <td>@appointment.StatusOfAppointment </td>
    <td> <a asp-action="FinalizeAppointment" asp-route-id="@appointment.ID">Finalize</a> </td>
</tr>
    }

</table>
