﻿@model BigAppointmentModel

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="MakeAppointment">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="appointmentModel.DateOfAppointment" class="control-label">Date:</label>
                <input asp-for="appointmentModel.DateOfAppointment" class="form-control" />
                <span asp-validation-for="appointmentModel.DateOfAppointment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="appointmentModel.ClientName" class="control-label"></label>
                <input asp-for="appointmentModel.ClientName" class="form-control" />
                <span asp-validation-for="appointmentModel.ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointmentModel.ClientPhoneNo" class="control-label"></label>
                <input asp-for="appointmentModel.ClientPhoneNo" class="form-control" />
                <span asp-validation-for="appointmentModel.ClientPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointmentModel.CarModel" class="control-label"></label>
                <input asp-for="appointmentModel.CarModel" class="form-control" />
                <span asp-validation-for="appointmentModel.CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="appointmentModel.ProblemDescription" class="control-label"></label>
                <input asp-for="appointmentModel.ProblemDescription" class="form-control" />
                <span asp-validation-for="appointmentModel.ProblemDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

